#edit_list.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4
          %i.fa.fa-pencil{"aria-hidden" => "true"}>
           リストを編集
      %form{:action => "<?php echo makePath('lists/update'); ?>", :method => "post"}
        .modal-body
          　
          %label リスト名
          %input#list_title.form-control{:name => "list_name", :type => "text", :value => ""}/
          %input#hidden{:name => "list_id", :type => "hidden"}/
          %input{:name => "user_id", :type => "hidden", :value => "<?php echo $_SESSION['user_id']; ?>"}/
        .modal-footer
          %button#modal-save.btn.btn-pink{:type => "submit"} 更新
