    <div class="container">

        <div class="container-fluid">
          <div class="row">
            <div class="content-main">
              <section class="col-sm-10 col-xs-offset-1 main-content">

                  <!--検索user一覧-->
                  <div class="do_list">
                    <h4><i class="fa fa-tags" aria-hidden="true"></i>  「Masaaki」ユーザー一覧</h4>
                  <% @users.each do |user| %>
                      <div>
                        <%= link_to user_list_items_path(user.id, 1)  do%>
                          <img class="img-circle" src="/plofile_fb_n.png" width="50" height="50">
                          <span><%= user.name %></span>
                        <% end %>
                      </div>
                  <%= endforeach; %>

                    </div>

            </section>
          </div>
          </div>
        </div>

    </div>

